[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mpv = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
ffmpeg = "*"

[dev-packages]

[requires]
python_version = "3.10"
